// >----------------------------------------------------------------<
// >                            FONTS                              <
// >----------------------------------------------------------------<
@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Yeseva One";
    src: url("../assets/fonts/YesevaOne-Regular.ttf");
    font-weight: 400;
}


// >----------------------------------------------------------------<
// >                            MIXINS                              <
// >----------------------------------------------------------------<
// @mixin createSVGButton($img, $filter, $filter-hover) { // image.svg, filter color — icon, filter color — hover
//     background-image: url('../assets/svg/'+$img);
//     filter: var($filter);
//     &:hover {
//         filter: var($filter-hover);
//     }
// }

@mixin bgImgSVG($img) { // image.svg
    background-image: url("../assets/svg/"+$img);
}

// >----------------------------------------------------------------<
// >                              ROOT                              <
// >----------------------------------------------------------------<

:root {
    --white-light: #E5E5E5;
    --white-dark: #CCCCCC;
    --black: #000000;
    --black-dark: #0A0A0A;
    --gray-dark: #0E0E0E;
    --gray: #1C1C1C;

    --bg-deg: 180deg;
    --bg-top-color: var(--white-dark);
    --bg-bottom-color: var(--gray-dark);
    --bg-top-percent: 0%;
    --bg-bottom-percent: 100%;

    // --bg: linear-gradient(var(--bg-deg), var(--bg-top-color) var(--bg-top-percent), var(--bg-bottom-color) var(--bg-bottom-percent));
    --bg: linear-gradient(180deg, #0F0F0F 0%, #0A0A0A 100%);
    --font-one: "Yeseva One", serif;
    --font-two: "Lato", sans-serif;


    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --font-line-height: 150%;

    --font-h3-size: 20px;
    --font-h3-color: var(--white-light);
    --font-h3-weight: var(--font-weight-bold);
    --font-h3-line-height: var(--font-line-height);

    --font-p2-size: 12px;
    --font-p2-color: var(--white-dark);
    --font-p2-weight: var(--font-weight-light);
    --font-p2-line-height: var(--font-line-height);

    --font-p1-size: 16px;
    --font-p1-color: var(--white-dark);
    --font-p1-weight: var(--font-weight-light);
    --font-p1-line-height: var(--font-line-height);

    --logo-color: var(--white-light);
    --logo-font-size: 28px;
    --logo-font-family: var(--font-one);

    --input-bg-color: var(--gray-dark);
    --input-color: var(--white-dark);

    --font-p: 18px;
    --font-line-p: auto;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

*,  *::before, *::after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

body {
    // position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // width: 100%;
    min-height: 100vh;
    background: var(--bg); //linear-gradient(var(--bg-deg), var(--bg-top-color) var(--bg-top-percent), var(--bg-bottom-color) var(--bg-bottom-percent));

    font-style: 0;
    font-family: var(--font-two);
    font-size: var(--font-p1-size);
    font-weight: var(--font-p1-weight);
    color: var(--font-p1-color);
    line-height: var(--font-p1-line-height);

    max-width: 1440px;
    margin: 0 auto;

    &::-webkit-scrollbar {
        width: 16px;
        background-color: var(--gray-dark);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: var(--gray);
    }

    &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 2px;
        background-color: linear-gradient(180deg, #181818 0%, #101010 100%)
    }
}

// ^------------------------ Noise bg image -------------------------
.body::before,
.body::after {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -100;
    width: 100%;
    content: "";
    background: url('../assets/svg/noise.svg');
    opacity: 5%;
}


.container {
    // max-width: 1224px;
    margin: 0 4%;
}

.header {
    flex: 0 0 auto;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .header__logo {
        color: var(--logo-color);
        font-family: var(--logo-font-family);
        font-size: var(--logo-font-size);
    }

}

@media (max-width: 560px) {
    .header {

        .container {
            flex-direction: column;
        }
        .header__logo {
            padding-bottom: 36px;
        }
        .input-text {
            width: 240px;
        }
    }
}

.main {
    flex: 1 0 auto;
}

.input-text {
    font-family: var(--font-two);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-p);

    border-radius: 1000px;
    padding: 12px 24px;
    width: 288px;
    color: var(--input-color);

    //input border gradient
    border: double 3px transparent;
    background-image: linear-gradient(var(--input-bg-color), var(--input-bg-color)),
                        linear-gradient(180deg, #070707 0%, #3B3B3B 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    &:focus {
        outline: none !important;
    }
}

.header__search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url('../assets/svg/clear.svg') no-repeat;
    filter: invert(35%) sepia(0%) saturate(0%) hue-rotate(211deg) brightness(100%) contrast(90%);
    background-size: contain;
}

// .header__search-wrapper {
//     position: relative;
// }

// .header__search-clear {
//     position: absolute;
//     background: none;
//     border: 1px solid var(--white-dark);
//     color: var(--white-dark);
//     cursor: pointer;
//     opacity: 50%;
//     height: 24px;
//     width: 24px;
//     top: 0;
//     bottom: 0;
//     right: 24px;
//     transform: translateY(50%);
// }

// >----------------------------------------------------------------<
// >                              MAIN                              <
// >----------------------------------------------------------------<

.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 36px;
    // position: relative;

    & .wrapper-card-decor {
        --card-border-width: 2px; //outer border

        position: relative;
        width: 284px;
        // height: 497px;
        background-color: none;
        border: var(--card-border-width) solid var(--black);
        border-radius: 12px;
        box-shadow: 0px 8px 16px #000000;

        &:before {
            --card-border-width: 2px; // inner border
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            // // z-index: 1;/
            // margin: 0px;
            border-radius: inherit;

            // * add border gradient
            border: double var(--card-border-width) transparent; // border width
            background-image: linear-gradient(180deg, #181818 0%, #101010 100%), // bg color
                                linear-gradient(180deg, #353535 0%, #171717 2%); // border color
            background-origin: border-box;
            background-clip: padding-box, border-box;

            box-shadow: 0px 16px 32px #000000aa;
        }
    }

    & .movie-card {
        position: relative;
        width: 100%;
        height: 100%;
        // left: 20px;
        // top: 2px;
        // width: 240px;
        // height: calc(100%);
        // background-color: none;
        // border: 2px solid var(--black);
        border-radius: 8px;

                    // z-index: 1;
        // * noise in cards
        &::before {
            box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);
            position: absolute;
            // height: 100%;
            // border: 1px solid red;
            border-radius: 32px;
            top: -24px;
            right: 0px;
            bottom: 24px;
            left: 0px;
            // margin: 0;
            // padding: 0;
            // height: 100%;
            content: "";
            border-radius: inherit;
            background: url('../assets/svg/noise.svg') 5%;
            opacity: 5%;
        }

        &__image-wrapper {
            box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.8);
            position: relative;
            margin: 24px;
            width: calc(100% - 48px);
            width: 236px;
            height: 354px;
            overflow: hidden;
            border-radius: 4px;

            // * add border gradient
            border: double var(--card-border-width) transparent; // border width
            background-image: linear-gradient(180deg, #181818 0%, #101010 100%), // bg color
                                linear-gradient(180deg, rgba(0, 0, 0, 0.5) 99%, rgba(255, 255, 255, 0.2) 100%); // border color
            background-origin: border-box;
            background-clip: padding-box, border-box;



            // &:hover .movie-card__image-decor {
            //     // transform: translateY(-100%);
            //     height: 0%;
            //     transition: height 0.2s ease-out;
            // }

            // &:hover .movie-card__image-back {
            //     height: 0px;
            //     // transform: translateY(-200%);
            //     transition: height 0.2s ease-out;
            // }

            // &:hover .movie-card__movie-info {
            //     margin: 8px;
            //     margin-right: 4px;
            //     padding: 4px;
            //     padding-right: 8px;
            //     height: calc(100% - 24px);
            //     // height: calc(100% - 24px);
            //     transition: padding 0.0s, margin 0.0s, height 0.2s;
            // }
        }
        // ^---------------------- poster image ---------------------
        &__image {
            position: relative;
            display: block;
            top: 0;
            // width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-size: 0;
            line-height: 0;
            // cursor: pointer;
            // box-shadow: 0px 4px 8px #000000aa;/
            // transform: rotateY(0deg);
            // transition: all 0.5s ease-in-out;
            // backface-visibility: hidden;
            // &:hover {
                // transform: rotateY(180deg);
                // }

                // transform: translateY(-100%)
                z-index: -10;
                &.show-overview{
                    z-index: -10;
                    // top: 0;
                    // transform: translateY(-50%);
                    // transition-delay: -0.6s ;
                }
        }

        &__image-decor { // glass
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 4px 24px rgba(255, 255, 255, 0.2);
            transition: height 0.3s ease-out 0.3s;
            z-index: 2;
            &.show-overview{
                // transform: translateY(-100%);
                height: 0%;
            }
        }

        // ^----------------------- movie info ----------------------
        &__movie-info {
            height: calc(100% - 0px);
            margin-right: -8px;
            padding-bottom: -16px;
            overflow:auto;
            position: absolute;
            top: 0;
            left: 0;
            color: var(--font-p1-color);
            font-family: var(--font-two);
            font-weight: var(--font-p1-weight);
            line-height: var(--font-p1-line-height);
            font-size: var(--font-p1-size);
            hyphens: auto;
            -webkit-hyphens: auto;
            // opacity: 0%;
            // transform: translateY(100%);
            transition: height 0.3s 0.0s, margin 0.3s 0.0s, padding 0.3s 0.0s;
            &.show-overview {
                margin: 8px;
                margin-right: 4px;
                padding: 4px;
                padding-right: 8px;
                height: calc(100% - 24px);
                // height: calc(100% - 24px);
            }

            &::-webkit-scrollbar {
                width: 8px;
                background-color: linear-gradient(180deg, #181818 0%, #101010 100%);
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 1000px;
                background-color: var(--gray);
            }

            &::-webkit-scrollbar-track {
                // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
                border-radius: 2px;
                background-color: linear-gradient(180deg, #181818 0%, #101010 100%)
            }

        }

        &__image-back {
            position: relative;
            display: block;
            top: 0;
            left: 0;
            padding: 0;
            float: left;
            transition: all 0.4s 0.0s;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &.show-overview{
                width: 86px;
                height: 129px;
                padding-right: 8px;
                padding-top: 4px;
                padding-bottom: 8px;
            }
        }


        // ^----------------------- text wrapper --------------------
        &__text-wrapper {
            display: flex;
            flex-direction: column;
        }

        &__title {
            font-family: var(--font-two);
            font-size: var(--font-h3-size);
            font-weight: var(--font-h3-weight);
            color: var(--font-h3-color);
            line-height: var(--font-h3-line-height);
            // margin: 24px;
            padding: 24px;
            padding-top: 0px;

            font-family: "Lato", sans-serif;
            // background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.0) 100%);
        }

        // &__date {
        //     font-family: var(--font-two);
        //     font-size: var(--font-p2-size);
        //     font-weight: var(--font-p2-weight);
        //     color: var(--font-p2-color);
        //     line-height: var(--font-p2-line-height);
        //     padding: 24px;
        //     padding-top: 0px;
        // }

        &__info-titile-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px;
            padding-bottom: 12px;
            padding-top: 0px;
        }

        &__vote-wrapper {
            display: flex;
            gap: 8px;
            // background-color: red;
        }
        &__vote-icon {
            width: 24px;
            height: 24px;
            color: #000;
            filter: invert(98%) sepia(1%) saturate(7472%) hue-rotate(188deg) brightness(122%) contrast(60%);
            background: none;
        }

        &__vote {
            font-family: var(--font-two);
            font-size: var(--font-p1-size);
            font-weight: var(--font-p1-weight);
            color: var(--font-p1-color);
            line-height: var(--font-p1-line-height);
        }

        // &__info-icon {
        //     width: 24px;
        //     height: 24px;
        //     color: #000;
        //     filter: invert(98%) sepia(1%) saturate(7472%) hue-rotate(188deg) brightness(122%) contrast(60%);
        //     background: none;
        //     cursor: pointer;
        //     &:hover {
        //         filter: invert(98%) sepia(3%) saturate(6%) hue-rotate(202deg) brightness(113%) contrast(80%);
        //     }
        // }

        &__info-button-wrapper {
            position: relative;
            z-index: 3;
            cursor: pointer;
            width: 24px;
            height: 24px;
            border-radius: 4px;
                        border: double var(--card-border-width) transparent; // border width
            background-image: linear-gradient(180deg, var(--black) 0%, var(--black-dark) 100%), // bg color
                                linear-gradient(180deg, rgba(0, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.2) 100%); // border color
            // background-image: linear-gradient(180deg, var(--black) 0%, var(--black-dark) 100%), // bg color
            //                     linear-gradient(180deg, rgba(0, 0, 0, 0.5) 95%, rgba(255, 255, 255, 0.2) 100%); // border color
            background-origin: border-box;
            background-clip: padding-box, border-box;
            box-shadow: 0px 4px 8px #000000aa;
            transition: box-shadow 0.1s;
            &.movie-card__button-click {
                box-shadow: none;
            };
            @media (hover: hover) {
                &:hover .movie-card__info-button {
                    // opacity: 100%;
                    // text-shadow: 0px 0px 4px #ffffff;
                    background-image: linear-gradient(180deg, #2d2d2d 0%, #252525 100%), // bg color
                    linear-gradient(180deg, #505050 0%, #171717 10%); // border color
                };

                &:hover .movie-card__button-click {
                    background-image: linear-gradient(180deg, #252525 0%, #212121 100%), // bg color
                    linear-gradient(180deg, #353535 0%, #171717 20%); // border color
                };
            }
        }
        &__info-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1px;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border: double 1px transparent; // border width
            background-image: linear-gradient(180deg, #282828 0%, #202020 100%), // bg color
                                linear-gradient(180deg, #505050 0%, #171717 10%); // border color
            background-origin: border-box;
            background-clip: padding-box, border-box;

            box-shadow: 0px 2px 2px #000000;
            transition: box-shadow 0.1s, background-image 0.1s;
            &.movie-card__button-click {
                box-shadow: 0px 1px 1px #000000;
                background-image: linear-gradient(180deg, #222222 0%, #181818 100%), // bg color
                linear-gradient(180deg, #353535 0%, #171717 20%); // border color
            };
        }
        &__info-button-text {
            opacity: 50%;
            transition: opacity 0.3s;
            user-select: none;
            &.movie-card__button-click {
                opacity: 100%;
                text-shadow: 0px 1px 4px #ffffff;
            };
        }

        &__oops {
            // position: absolute;
            // top: 0;
            // right: 0;
            // bottom: 0;
            // left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}








// >----------------------------------------------------------------<
// >                            FOOTER                              <
// >----------------------------------------------------------------<
.footer{
    flex: 0 0 auto;
    // max-width: 960px;
    // min-width: 640px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 64px;
    // z-index: -1000;
    margin: 0 auto;
    opacity: 50%;
    padding-bottom: 24px;


    // transform: translate(-50%, -50%);
    // transform-origin: 0% 0%;

    &__copyright {
        font-weight: var(--font-weight-bold);
        color: #3c3c3c;
        text-decoration: none;
        @media (hover: hover) {
            &:hover {
                color: #cccccc;
            }
        }
    }
    &__icon-github {
        font-size: 0;
        line-height: 0;
        @include bgImgSVG("github-icon.svg");
        height: 40px;
        width: 40px;
        margin-right: 72px;
        // margin-right: auto;
        transform: scale(0.6);
        filter: invert(22%) sepia(0%) saturate(13%) hue-rotate(209deg) brightness(92%) contrast(109%); // 2c2c2c
        @media (hover: hover) {
            &:hover {
                filter: invert(89%) sepia(0%) saturate(0%) hue-rotate(202deg) brightness(92%) contrast(92%); //cccccc
            }
        }
    }

    &__icon-rsschool {
        font-size: 0;
        line-height: 0;
        @include bgImgSVG("rs_school_js-logo.svg");
        height: 40px;
        width: 112px;
        transform: scale(0.6);
        filter: invert(22%) sepia(0%) saturate(13%) hue-rotate(209deg) brightness(92%) contrast(109%); // 2c2c2c
        @media (hover: hover) {
            &:hover {
                filter: invert(89%) sepia(0%) saturate(0%) hue-rotate(202deg) brightness(92%) contrast(92%); //cccccc
            }
        }
    }
}

@media (max-width: 460px) {
    .footer{
        flex-direction: column;
        height: 140px;
        // justify-content: center;

        &__icon-github {

            margin-right: 0;

        }

    }
}
