/* 
позиционирование
блочная модель (размеры, отступы)
типографика (свойства шрифта)
оформление (цвет фона, тень)
анимация
*/

:root {
    /* Typography */
    --bg-dark: #000000;
    --gold: #bdae82;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    /* font-family: 'Merriweather', serif; */
}

html {
    scroll-behavior: smooth; 
}

body {
    background-color: var(--bg-dark);
    color: var(--white);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
section {
    border: 1px solid var(--white);
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ------------------------- HEADER ------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
.header {
    height: 90px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
}

.header__logo   {
    line-height: 0%;
}

.menu,
.menu__items,
.language__items {
    display: flex;
}

.menu__items_item {
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
}

.language {
    margin-left: 31px;
    display: flex;
}

.language__items {
    display: flex;
}

.language__items_item {
    margin-left: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s;
} 

.link:hover {
    color: var(--gold);
}

.language__en_active {
    margin-left: 0px;
    margin-right: 9px;
    color: var(--gold);
    transition: color 0.3s;
}

.language__en_active:hover {
    color: var(--white);
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* -------------------------- MAIN -------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.header__title {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
}

.header__title-h2 {
    padding: 0 20px;
    grid-column: 1;
    grid-row: 1;
    background-color: var(--bg-dark);
}

.line-decoration {
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
    width: 700px;
    border: none;
    background-color: var(--gold);
    height: 2px;
}

/* -------------------------- HERO -------------------------- */

.hero {
    height: 820px;
    padding: 0px 20px;
}

.bg {
    max-width: 1440px;
    margin: 0 auto;
    height: 910px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(assets/img/bg.jpg);
}

.hero__title {
    margin: 160px 0 0 60px;
    width: 500px;
}

.hero__description {
    width: 470px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 200%;
}

.hero__button {
    margin-top: 25px;
}

/* -------------------------- SKIILS -------------------------- */
.skills {
    height: 482px;
    padding: 0px 20px;
}

.skills__cards{
    margin-top: 60px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.skills__card {
    padding: 0 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills__card_image {
    height: 50px;
}

.skills_card_title {
    margin-top: 50px;
}
.skills_card_text {
    margin-top: 20px;
    margin-bottom: 8px;
}

/* .skills_card_title,
.skills_card_text {
    text-align: center;
    width: 280px;
} */

/* -------------------------- PORTFOLIO -------------------------- */
.portfolio {
    padding: 0px 20px;
}
/* -------------------------- VIDEO -------------------------- */
.video {
    padding: 0px 20px;
}
/* -------------------------- PRICE -------------------------- */
.price {
    padding: 0px 20px;
}
/* -------------------------- CONTACTS -------------------------- */
.contacts {
    padding: 0px 20px;
    background-image: url(assets/img/contacts.jpg);
}





/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ------------------------- FOOTER ------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 50px 20px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
}

.footer__text{
    margin-right: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
}

.footer__github {
    width: 200px;
    display: flex;
}

.footer_social-icons{
    width: 200px;
}

.footer__social-icons_item {
    margin-left: 20px;
}




/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ------------------------ ELEMENTS ------------------------ */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
h1 {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    line-height: 200%;
    color: var(--white);
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    line-height: 200%;
    color: var(--gold);
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    line-height: 200%;
    color: var(--white);
}

h4 {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    line-height: 200%;
    color: var(--gold);
}

h5 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 200%;
    color: var(--white);
}

p, img {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: var(--white);
}

ul {
    list-style: none;
}
/* ------------------------ BUTTONS ------------------------- */
.button-primary {
    width: 220px;
    height: 55px;
    /* padding: 8px 72px; */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    background-color: var(--gold);
    transition: color 0.3s;
}

.button-primary:hover {
    color: var(--white);
    cursor: pointer;
}

.button-secondary {
    width: 220px;
    height: 55px;
    /* padding: 8px 72px; */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    background-color: var(--bg-dark);
    color: var(--gold);
    border: 2px solid var(--gold);
    transition: color 0.3s;
}

.button-secondary:hover {
    color: var(--white);
    cursor: pointer;
}
