:root {
  --color__bg_light:           #191919;
  --color__bg:                 #0F0F0F;
  --color__bg_dark:            #0A0A0A;
  --color__primary_light:      #22B7E5;
  --color__primary:            #0091BE;
  --color__primary_dark:       #006B8C;
  --color__secondary_light:    #FFFFFF;
  --color__secondary:          #F5F5F5;
  --color__secondary_dark:     #CFCFCF;
  --color-filter__bg_light:           invert(0%) sepia(14%) saturate(740%) hue-rotate(317deg) brightness(101%) contrast(80%);
  --color-filter__bg:                 invert(0%) sepia(6%) saturate(3134%) hue-rotate(351deg) brightness(107%) contrast(88%);
  --color-filter__bg_dark:            invert(0%) sepia(1%) saturate(5751%) hue-rotate(340deg) brightness(100%) contrast(92%);
  --color-filter__secondary_light:    invert(100%) sepia(100%) saturate(0%) hue-rotate(80deg) brightness(108%) contrast(102%);
  --color-filter__secondary:          invert(100%) sepia(11%) saturate(0%) hue-rotate(288deg) brightness(109%) contrast(92%);
  --color-filter__secondary_dark:     invert(100%) sepia(1%) saturate(3943%) hue-rotate(212deg) brightness(109%) contrast(62%);
  --color__tertiary_light:     #DEDEDE;
  --color__tertiary:           #C4C4C4;
  --color__tertiary_dark:      #333333;
  --color__block-shadow_outer-top-left: rgba(255, 255, 255, 0.1);
  --color__block-shadow_outer-bottom-right: #000000;
  --color__block-shadow_inset-top-left: #000000;
  --color__block-shadow_inset-bottom-right: rgba(255, 255, 255, 0.1);
  --color__block_border: var(--color__bg);
  --color__block_2: #E5D017;
  --color__block_4: #E5AB17;
  --color__block_8: #E57A17;
  --color__block_16: #E51717;
  --color__block_32: #E51761;
  --color__block_64: #E517D0;
  --color__block_128: #8A17E5;
  --color__block_256: #1751E5;
  --color__block_512: #178EE5;
  --color__block_1024: #17E59B;
  --color__block_2048: #17E551;
  --color__block-glow_2: #E5D017;
  --color__block-glow_4: #E5AB17;
  --color__block-glow_8: #E57A17;
  --color__block-glow_16: #E51717;
  --color__block-glow_32: #E51761;
  --color__block-glow_64: #E517D0;
  --color__block-glow_128: #8A17E5;
  --color__block-glow_256: #1751E5;
  --color__block-glow_512: #178EE5;
  --color__block-glow_1024: #17E59B;
  --color__block-glow_2048: #17E551;
}
